body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffaff;
}

* {
  font-family: Comfortaa-Regular;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@font-face {
  font-family: Comfortaa-Light;
  src: url(./fonts/Comfortaa/Comfortaa-Light.ttf);
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url(./fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
  font-family: Comfortaa-Medium;
  src: url(./fonts/Comfortaa/Comfortaa-Medium.ttf);
}

@font-face {
  font-family: Comfortaa-SemiBold;
  src: url(./fonts/Comfortaa/Comfortaa-SemiBold.ttf);
}

@font-face {
  font-family: Comfortaa-Bold;
  src: url(./fonts/Comfortaa/Comfortaa-Bold.ttf);
}

.threePoints_Text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.threePoints_Paragraph {
  display: -webkit-box;
  line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}